name: Generate Stats Images

on:
  push:
    branches: [main]
  schedule:
    # 每天 UTC 0:05 自动运行
    - cron: "5 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 检出仓库
      - uses: actions/checkout@v3

      # 设置 Python 3.8
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"
          architecture: "x64"
          cache: "pip"

      # 安装依赖
      - name: Install requirements
        run: |
          python3 -m pip install --upgrade pip setuptools wheel
          python3 -m pip install -r requirements.txt

      # 生成统计图表
      - name: Generate images
        run: |
          python3 --version
          python3 generate_images.py
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          EXCLUDED: ${{ secrets.EXCLUDED }}
          EXCLUDED_LANGS: ${{ secrets.EXCLUDED_LANGS }}
          EXCLUDE_FORKED_REPOS: true

      # 提交生成的文件
      - name: Commit to the repo
        run: |
          git config --global user.name "github-stats-bot"
          git config --global user.email "github-stats[bot]@users.noreply.github.com"
          git add .
          # 即使没有文件更改也让构建成功
          git commit -m 'Update generated stats images' || true
          git push
